version: "3.9"

services:
  web:
    expose:
      - 2665
    ports:
      - 7778:7778
    image: borsch3:latest
    entrypoint:
      - /bin/sh
      - -c
      - |
        if [ -f /run/secrets/NOTE_DB_U ]; then
          export NOTE_DB_USER=$$(cat /run/secrets/NOTE_DB_U);
        fi;
        if [ -f /run/secrets/NOTE_DB_P ]; then
          export NOTE_DB_PASSWORD=$$(cat /run/secrets/NOTE_DB_P);
        fi;
        exec java -jar /app/app.jar;
    secrets:
      - NOTE_DB_U
      - NOTE_DB_P
    environment:
      - spring.profiles.active=production
      - NOTE_DB_USER
      - NOTE_DB_PASSWORD
    build: .

secrets: # top level secrets block
  NOTE_DB_U:
    file: /volume1/docker/global_secrets/NOTE_DB_USER.txt
  NOTE_DB_P:
    file: /volume1/docker/global_secrets/NOTE_DB_PASSWORD.txt
