<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Profile</title>
</head>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">
        <div class="modal fade" id="modal-leave">
            <div class="modal-dialog modal-lg">
                <form action="/friendgroup/leave" method="get">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Leave Friendgroup?</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Exit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="modal fade" id="modal-add">
            <div class="modal-dialog modal-lg">
                <form action="/friendgroup/add" method="post">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h4 class="modal-title">Join to Friendgroup</h4>
                            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">&times;</span>
                            </button>
                        </div>
                        <div class="modal-body">
                            <div class="form-group">
                                <label for="code">Code</label>
                                <input type="text" class="form-control form-control-lg" id="code" name="code"
                                       placeholder="Enter Friendgroup code">
                            </div>
                        </div>
                        <div class="modal-footer justify-content-between">
                            <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                            <button type="submit" class="btn btn-success">Join</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row ml-auto mr-auto">
            <div class="col-md-12 mb-4">
                <div class="text-center">
                    <h3>Profile</h3>
                </div>
                <form action="/account" method="post">
                    <input type="hidden" name="oldEmail" th:value="${user.email}">
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="email">Email</label>
                            <input type="email" class="form-control" id="email" name="email"
                                   placeholder="email" th:value="${user.email}"
                                   pattern="^([^ ]+@[^ ]+\.[a-z]{2,6}|)$"
                                   required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="password">Password</label>
                            <input type="password" class="form-control" id="password" name="password"
                                   placeholder="Input new password in case of change need">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="nickname">Nickname</label>
                            <input type="text" class="form-control" id="nickname" name="nickname"
                                   placeholder="" th:value="${user.nickname}" required>
                        </div>
                        <div class="form-group col-md-6">
                            <label for="birthDate">Birthday</label>
                            <input type="date" id="birthDate" name="birthDate" class="form-control"
                                   th:value="${user.birthDate}"
                                   min="1900-01-01">
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-6">
                            <label for="gender">Sex</label>
                            <select name="gender" class="form-control" id="gender">
                                <option th:each="entry : ${gender.entrySet()}" th:value="${entry.key}"
                                        th:text="${entry.value}" th:selected="${entry.key==user.genderId}"></option>
                            </select>
                        </div>
                    </div>
                    <div class="btn-group mt-2" role="group">
                        <label class="checkbox-ios">
                            <label class="form-check-label" for="publicNote">Wide interface</label>
                            <input type="checkbox" id="publicNote" name="fullWidth"
                                   th:checked="${user.isWidePage()}">
                            <span class="checkbox-ios-switch"></span>
                        </label>
                    </div>
                    <div class="card-footer">
                        <div class="btn-group" role="group">
                            <button type="submit" class="btn btn-success m-1">Save</button>
                        </div>
                        <div class="btn-group float-right" role="group">
                            <button type="button" class="btn btn-danger m-1" onclick="window.location.href = '/logout';">Exit</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
        <div class="row ml-auto mr-auto">
            <div class="col-md-12">

                <div class="mb-4" th:if="${friendgroup==null}">
                    <button type="button" class="btn btn-primary m-1" data-toggle="modal"
                            data-target="#modal-add">
                        Join to Friendgroup
                    </button>
                    <button type="button" class="btn btn-success m-1" onclick="window.location.href = '/friendgroup/create';">
                        Create Friendgroup
                    </button>
                </div>
                <div th:if="${friendgroup!=null}">
                    <div class="card mb-4">
                        <h5 class="card-header" th:text="${friendgroup.title} + ' (Code - ' + ${friendgroup.code}+')'"></h5>
                        <div class="card-body">
                            <p class="card-text">
                            <ul th:each="userFriendgroup: ${usersFriendgroupDtos}" class="list-group">
                                <li class="list-group-item" th:text="${userFriendgroup.nickname}" />
                            </ul>
                            </p>
                            <div class="btn-group" role="group">
                                <button type="button" class="btn btn-primary m-1" data-toggle="modal" data-target="#modal-leave">
                                    Leave Friendgroup
                                </button>
                                <button type="button" class="btn btn-success m-1" onclick="window.location.href = '/friendgroup/edit';">Edit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>