<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Registration</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">
        <div class="container">
            <div th:if="${errorsMessages!=null}">
                <div th:each="message: ${errorsMessages.getErrors()}">
                    <div class="alert alert-danger" role="alert" th:text="${message}">
                    </div>
                </div>
            </div>
            <div th:if="${infoMessages!=null}">
                <div th:each="message: ${infoMessages.getMessages()}">
                    <div class="alert alert-success" role="alert" th:text="${message}">
                    </div>
                </div>
            </div>
            <div class="text-center">
                <h3 th:text="#{page.register.label.title}">Registration</h3>
            </div>
            <div class="row justify-content-center">
                <div class="col text-center" style="max-width: 500px;">
                    <form th:action="@{/sendEmailConfirmation}" method="post" class="form-signin mt-5" >
                        <!-- Nickname input -->
                        <div class="input-group mb-3">
                            <input type="text" class="form-control" id="nickname" name="nickname"
                                   th:placeholder="#{page.register.nickname.placeholder}" autofocus required >
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-user"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Email input -->
                        <div class="input-group mb-3">
                            <input type="email" class="form-control" id="username" name="username"
                                   th:placeholder="#{page.login.email.input.placeholder}"
                                   required pattern="^([^ ]+@[^ ]+\.[a-z]{2,6}|)$">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span style="font-weight: bold; ">@</span>
                                </div>
                            </div>
                        </div>
                        <!-- Password input -->
                        <div class="input-group mb-3">
                            <input type="password" id="password" name="password" class="form-control"
                                   th:placeholder="#{page.login.password.input.placeholder}">
                            <div class="input-group-append">
                                <div class="input-group-text">
                                    <span class="fas fa-lock"></span>
                                </div>
                            </div>
                        </div>
                        <!-- Submit button -->
                        <button id = "submit" type="submit" class="btn btn-primary btn-block mb-4"
                        th:text="#{page.login.link.register.lable}">
                            Register
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>