<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<head>
    <meta charset="UTF-8">
    <link href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/css/select2.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="/css/recipe.css">
    <style>
        /* Dodaj styl dla napisów w nawigacji */
        .navbar-nav .nav-link {
            color: #249bd7; /* Ustaw kolor tekstu */
        }
    </style>
</head>
<body>
<th:block th:fragment="header">
    <div class="row">
        <div class="col-md-12">
            <nav class="navbar navbar-expand-lg navbar-light bg-light">
                <a href="/"><img src="/img/small_logo.png" alt="logo" class="logo"></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse ml-4" id="navbarSupportedContent">
                    <ul class="navbar-nav mr-auto header-menu">
                        <li class="nav-item active">
                            <a th:text="#{page.login.label.information}" class="nav-link" href="/info">Information</a>
                        </li>
                        <li class="nav-item active">
                            <a th:text="#{page.login.label.about}" class="nav-link" href="/about">About us</a>
                        </li>
                        <li class="nav-item active">
                            <a th:text="#{page.login.label.profile}" class="nav-link" href="/account">Profile</a>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item mt-1">
                            <form action="#" th:action="@{/recipe/list?&query=blah}" class="form-inline my-2 my-lg-0"
                                  method="get">
                                <input th:value ="${searchText}" class="form-control mr-sm-2 " style="max-width: 500px;" id="searchText" name="searchText" type="search"
                                       th:placeholder="#{page.login.search.input.lable}" aria-label="Search">
                                <button class="btn btn-success" th:text="#{page.login.search.button.lable}" style="background-color:deepskyblue"
                                        type="submit">Search
                                </button>
                            </form>
                        </li>
                    </ul>
                    <ul class="navbar-nav">
                        <li class="nav-item mt-1">
                            <button type="button" class="btn btn-success ml-sm-4" th:text="#{page.login.newrecipe.button.lable}"
                                    onclick="window.location.href = '/recipe/create';">New recipe
                            </button>
                        </li>
                    </ul>
                </div>
            </nav>
        </div>
    </div>
</th:block>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.13/js/select2.min.js"></script>
<script>
    document.addEventListener("DOMContentLoaded", function() {
        const languageSelect = document.getElementById("languageSelect");
        const currentLanguage = window.location.search.match(/language=([^&]*)/);

        // Ustawienie domyślnego języka na angielski, jeśli nie ma zdefiniowanego żadnego języka w adresie URL
        if (!currentLanguage || !currentLanguage[1]) {
            languageSelect.value = "en";
        } else {
            languageSelect.value = currentLanguage[1];
        }

        // Przypisanie ścieżek do obrazków flag do atrybutów data-image dla każdej opcji select2
        const options = languageSelect.getElementsByTagName('option');
        for (let i = 0; i < options.length; i++) {
            const option = options[i];
            const language = option.value;
            const flagImagePath = `/img/flags/flag-${language}.png`; // Popraw ścieżkę do obrazków flag
            option.setAttribute('data-image', flagImagePath);
        }
    });

    function changeLanguage(language) {
        const baseUrl = window.location.href.split('?')[0];
        const newQueryString = `?language=${language}`;
        window.history.replaceState({}, '', `${baseUrl}${newQueryString}`);
        window.location.reload();
    }

    $(document).ready(function() {
        $('#languageSelect').select2({
            templateResult: formatLanguage,
            templateSelection: formatLanguage
        });
    });

    function formatLanguage(option) {
        if (!option.id) {
            return option.text;
        }
        var $option = $(
            '<span><img src="' + $(option.element).data('image') + '" class="flag-icon" /> ' + option.text + '</span>'
        );
        return $option;
    }
</script>

</body>
</html>