<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title th:text="#{page.about.title}">About</title>
</head>
<body>
     <div layout:fragment="content" th:remove="tag">
        <div class="content-wrapper content">
            <div class="row ml-auto mr-auto">
                <div class="col-md-12">
                    <div class="text-center">
                        <h3 th:text="#{page.about.welcome.lable}">Welcome!</h3>
                    </div>
                    <p th:text="#{page.about.welcome.text}">
                        The application Borsch is creating the atmosphere and connecting people.
                    </p>
                    <div class="text-center">
                        <h3 th:text="#{page.about.goal.lable}">Goal</h3>
                    </div>
                    <p th:text="#{page.about.goal.text}">Let's save the traditions by sharing the recipes.
                    </p>
                    <div class="text-center">
                        <h3 th:text="#{page.about.value.lable}">We value</h3>
                    </div>

                    <ul class="list-group">
                        <li class="list-group-item">
                            <span data-th-text="#{page.about.value.traditions.text1}" class="badge badge-secondary">Traditions.</span>
                            <span  data-th-text="#{page.about.value.traditions.text2}">Each recipe is us in the continuation of the family.</span>
                        </li>
                        <li class="list-group-item">
                            <span data-th-text="#{page.about.value.lightness.text1}" class="badge badge-secondary">Lightness.</span>
                            <span  data-th-text="#{page.about.value.lightness.text2}">Our site is intuitive and easy to use.</span>
                        </li>
                    </ul>
                    <div class="text-center">
                        <h3 th:text="#{page.about.joinin.lable}">Join in</h3>
                    </div>
                        <span th:text="#{page.about.joinin.text}">
                        Each recipe shared with loved ones prolongs life for everyone!
                        </span>
                    <div class="text-center mt-5">
                        <h3 th:text="#{page.about.encourage.lable}">We encourage you to use the page and share the tastiest!</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>
