<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>About</title>
</head>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">
        <div class="row ml-auto mr-auto">
            <div class="col-md-12">
                <div class="text-center">
                    <h3>Welcome!</h3>
                </div>
                <p>
                    Програма Борщ - створює атмосферу і зближує людей.
                </p>
                <div class="text-center">
                    <h3>Ціль</h3>
                </div>
                <p>Зберігаймо традиції шляхом переказу рецептів.
                </p>
                <div class="text-center">
                    <h3>Цінуємо</h3>
                </div>

                <ul class="list-group">
                    <li class="list-group-item">
                        <span class="badge badge-secondary">Традиції</span> Кожен рецепт - це ми в продовженні роду.
                    </li>
                    <li class="list-group-item">
                        <span class="badge badge-secondary">Легкість</span> Наш сайт є інтуїтивний та легкий в користуванні.
                    </li>
                </ul>
                <div class="text-center">
                    <h3>Join us</h3>
                </div>
                Кожен рецепт, розділений з близькими продовжує життя усім!
                <div class="text-center mt-5">
                    <H3>Заохочуємо користуватися сторінкою та ділитися найсмачнішим!</H3>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>
