<!DOCTYPE html>
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      xmlns:th="http://www.thymeleaf.org"
      layout:decorate="~{fragments/layout}">
<head>
    <title>Info</title>
</head>
<body>
<div layout:fragment="content" th:remove="tag">
    <div class="content-wrapper content">
        <div class="row ml-auto mr-auto justify-content: flex-start">
            <div class="col-md-12 mb-4">
                <div class="text-left">
                    <h3>Java Developer</h3>
                </div>
                <div class="card-deck">
               <div class="card">
                        <img class="card-img-top"
                             src="/img/swiat.jpg"
                             alt="Swiatoslaw Szypka">
                        <div class="card-body">
                            <p class="card-text">
                                <a href="https://www.linkedin.com/in/swiatoslaw-szypka-8405b553/">
                                    Swiatoslaw Szypka
                                </a>
                            </p>
                        </div>
                    </div>
                </div>
                <div class="text-left">
                    <h3>Program version</h3>
                </div>
                <div class="card-deck">
               <div class="card">
                    <div class="card-body">
                        <p class="card-text">
                            <a>
                                Version 1.0.1
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    </div>
</div>

</body>
</html>
